<div class="container">
	<message-template tweet="tweet" typemessage="typemessage"
		profileimagesize="25" limit="limit" disable="disable"
		file="loadedFile" cancel="dismiss()"></message-template>
	<div class="d-flex justify-content-between mt-2">
		<div class="d-flex flex-row align-items-center">
			<a class="btn btn-rounded" ngf-select="selectImage($file)"><i
				class="fa-solid fa-image fa-2x text-primary"></i></a>
		</div>
		<div class="d-flex justify-content-end" ng-hide="hidedismiss">
			<div class="d-flex flex-row align-items-center">
				<span class="text-primary me-2">{{limit}}</span>
				<button type="button" ng-disabled="disable"
					class="btn btn-primary rounded-pill" ng-click="send()">Tweet</button>
			</div>
		</div>
	</div>
</div>
